<div class="contact-container pb-2"> 
    <div class="row justify-content-md-center"> 
        <h3 class="contact">Contact</h3>
        <div class="col-12"></div>
        <mat-form-field class="col-md-5 col-xs-12">
            <input matInput [(ngModel)]="contactData.senderFirstName" placeholder="Name">
        </mat-form-field>

        <mat-form-field class="col-md-5 col-xs-12">
            <input matInput [(ngModel)]="contactData.senderLastName" placeholder="LastName">
        </mat-form-field>

        <mat-form-field class="col-md-5 col-xs-12">
                <input matInput [(ngModel)]="contactData.sender" placeholder="Email">
        </mat-form-field>

        <mat-form-field class="col-md-5 col-xs-12">
            <input matInput [(ngModel)]="contactData.subject" placeholder="Subject">
        </mat-form-field>
        
        <mat-form-field class="col-md-10 col-xs-12">
            <textarea  matInput matTextareaAutosize="true" matAutosizeMinRows={{minRows}} [(ngModel)]="contactData.message" placeholder="Message"></textarea>
        </mat-form-field>
    </div>

    <div class="row justify-content-center">
    <button mat-raised-button (click)="onSubmitClick()">
        Submit
    </button>
    </div>
    <div *ngIf="message && message !== ''" class="row justify-content-center">
        <h3> {{message}} </h3>
    </div>

</div>