.contact-container {
  border-radius: 0.5rem;
  box-shadow: var(--blueGray) 0.25rem 0.25rem 0.5rem;
  transition: box-shadow 0.25s;
  background-color: var(--color-secondary-lighter);

  &:hover {
    box-shadow: var(--blueGray) 0.05rem 0.05rem 0.5rem;
  }

  .contact {
    color: var(--darkGray);
  }

  .form-submission {
      margin-left: 6.5rem;
  }
}
